# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/
dist/

# Project files, i.e. `.as3proj`.
# should NOT be excluded as they contain compiler settings and other important
# information for Flash Develop.
